.landing {
    &__mission {
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      &--text-container {
        flex: 1;
      }
  
      &--header {
        margin: 1rem 2.2rem 0.5rem;

      }
  
      &--list {
        margin-bottom: 10px;
        padding-left: 0;
        list-style-type: none;
      }
  
    //   &--item {
    //     padding: 0.3rem;
    //   }
      &--message{
        padding: 0.3rem;
        margin-left: 2rem;
      }
  
      &--image-container {
        flex-shrink: 0; 
        margin-left: 20px; 
      }
  
      &--image {
        max-width: 100%; 
        height: auto;
      }
    }
  
    &__product {
      &--header {
        text-align: center;
        margin-bottom: 20px;
      }
      &--container {
        display: flex;
        justify-content: space-between;
      }
      &--card {
        flex: 1;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin: 0 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      &--image {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
      }
    }
  
    &__visuals {
      &--header {
        text-align: center;
        margin-bottom: 20px;
      }
      &--container {
        display: flex;
        justify-content: space-between;
      }
      &--card {
        flex: 1;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin: 0 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      &--image {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
      }
    }
  
    &__testimonials {
      &--header {
        text-align: center;
        margin-bottom: 20px;
      }
      &--container {
        display: flex;
        justify-content: space-between;
      }
      &--card {
        flex: 1;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin: 0 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      &--image {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
      }
    }
    &__learnmore {
        text-align: center; 
        
        &--header {
          margin-bottom: 20px; 
        }
        
        &--buttons {
          display: flex;
          justify-content: center; 
          margin-top: 10px; 
        }
        
        &--button {
          margin: 0 10px; 
        }
      }
  }
  