
.landing {
    &__mission {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.04); 
      padding: 2rem 4rem;

      &--text-container {
        flex: 1;
      }
  
      &--header {
        margin: 1rem 2.2rem 0.7rem;
        font-size: 2rem;
      }
  
      &--list {
        margin-bottom: 10px;
        padding-left: 0;
        list-style-type: none;
      }
      &--message{
        padding: 0.3rem;
        margin-left: 2rem;
      }
  
      &--image-container {
        flex-shrink: 0; 
        margin-left: 20px; 
      }
      &--video {
        margin: 1rem 1rem 1rem 0rem;
      }
      &--text{
        font-weight: 500;
        font-size: 1.2rem;
        margin-bottom: 0.4rem;
      }
    }
  
    &__product {
      &--header {
        text-align: center;
        margin-bottom: 20px;
        font-size: 2rem;
        margin-top: 1rem;
      }
      &--container {
        display: flex;
        justify-content: space-around;
      }
      &--card {
        padding: 20px;
        margin: 0 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      &--image {
        margin-bottom: 10px;
        width: 200px; 
        height: 200px; 
        object-fit: cover; 
      
      }
      &--image-office{
        border-radius: 50%;
      }
      &--text-header{
        margin-bottom: 1rem;
      }
    }
  

    &__testimonials {
        &--header {
          text-align: center;
          padding: 2rem;
          font-size: 2rem;
        }
        &--container {
          display: flex;
          justify-content: space-between;
          margin: 1rem 7rem 1rem 7rem;
        }
        &--card {
          flex: 1;
          padding: 20px;
          border: 1px solid #ddd;
          border-radius: 10px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          margin: 0 10px;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center; 
        }
        &--image {
            width: 5rem; 
            height: 5rem; 
            border-radius: 50%; 
            margin-bottom: 10px;
            margin-right: 1rem;
            object-fit: cover; 
        }
        &--user-container{
            display: flex;
            align-items: center;
        }
        
        &--user-info{
            padding: 0.2rem;
        }
        &--user-text{
            margin-top: 1rem;
            text-align: left;
        }
    }
    &__learnmore {
        text-align: center; 
        
        &--header {
          margin-bottom: 20px; 
          font-size: 2rem;
          text-decoration: underline;
        }
        
        &--buttons {
          display: flex;
          justify-content: center; 
          margin-top: 10px; 
        }
        &--button{
          margin: 0 10px; 
          padding: 0.5rem 1rem;
          margin-bottom: 3rem;
        }
        &--button-middle {
          background-color: RGB(0, 120, 215);
          color: white;
          border: none;
          outline: 1px solid RGB(0, 120, 215) ;
        }
        &--button-left {
          background-color:RGBA(255, 204, 0);
          border: none;
          outline: 1px solid RGB(0, 120, 215);
        }
        &--button-right {
          background-color:RGBA(255, 204, 0);
          border: none;
          outline: 1px solid RGB(0, 120, 215);
        }
        
      }
  }

  // .highlight {
  //   position: relative;
  //   display: inline-block;
  // }
  
  // .highlight::after {
  //   content: '';
  //   position: absolute;
  //   left: 0;
  //   right: 0;
  //   bottom: -6px; /* 2px below the text */
  //   height: 5px; /* 3px thick underline */
  //   background-color: rgba(255, 185, 0, 1); /* Microsoft yellow */
  // }