.banner {
    height: 30vh; /* Adjust height as needed */
    background-image: url('../../assets/images/banner.webp'); /* Adjust path as necessary */
    background-size: cover; /* Cover the entire container */
    background-position: center; /* Center the background image */
}