@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;


.banner {
    height: 30vh; 
    background-image: url('../../assets/images/banner.png'); 
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center; 
    @include tablet{
        background-size: cover; 
        height: 40vh;
    }
    @include desktop{
        height: 60vh;
    }
    &__container{
        background-color: navy; 
    }
}